<?xml version="1.0"?>
<launch>
  <arg name="controller_name" default="ps3"/>
  <node pkg="rtr_joycon" type="rtr_joycon" name="rtr_joycon" output="screen">
    <!-- USB Keyconfig -->
    <rosparam command="load" file="$(find rtr_joycon)/config/usb_keymap/$(arg controller_name).yaml"/>
    <!-- Base Control -->
    <rosparam command="load" file="$(find rtr_joycon)/config/base/$(arg controller_name).yaml"/>
    <rosparam command="load" file="$(find rtr_joycon)/config/base/setting.yaml"/>
    <!-- Tohoku Jog Control -->
    <rosparam command="load" file="$(find rtr_joycon)/config/tohoku_jog/$(arg controller_name).yaml"/>
    <rosparam command="load" file="$(find rtr_joycon)/config/tohoku_jog/setting.yaml"/>
    <!-- Mani Jog Control -->
    <rosparam command="load" file="$(find rtr_joycon)/config/mani_jog/$(arg controller_name).yaml"/>
    <rosparam command="load" file="$(find rtr_joycon)/config/mani_jog/setting.yaml"/>
    <!-- Tohoku IK Control -->
    <rosparam command="load" file="$(find rtr_joycon)/config/tohoku_ik/$(arg controller_name).yaml"/>
    <rosparam command="load" file="$(find rtr_joycon)/config/tohoku_ik/setting.yaml"/>
  </node>
</launch>
